[submodule "cosmo5_1"]
	path = cosmo5_1
	url = https://icg4geo.icg.kfa-juelich.de/ModelSystems/tsmp_src/cosmo5.01_fresh.git
	branch = master
[submodule "clm3_5"]
	path = clm3_5
	url = https://icg4geo.icg.kfa-juelich.de/ModelSystems/tsmp_src/clm3.5_fresh.git
	branch = master
[submodule "parflow"]
	path = parflow
	url = https://github.com/kvrigor/parflow.git
	branch = tsmp-fixes
[submodule "oasis3-mct"]
	path = oasis3-mct
	url = https://icg4geo.icg.kfa-juelich.de/ModelSystems/tsmp_src/oasis3-mct.git
	branch = oasis3-MCT_2.0
